

body{
font-size: 20px;
background-image: url(/Imagenes/hera\ de\ hielo.jpg);

background-repeat: no-repeat;
background-size: 2200px 1200px;
}

.contenedor{
    margin-top: 200px;
    margin-left: 150px;
}


.contenedor{
height: 700px;
max-width: 1000px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;                                     /*formato al margen*/
gap: 10px;
text-align: center;

}

/*margen de todos los cuadros*/

.cuadricula{
display: grid;
grid-template-columns: auto auto auto;
gap: 0;

}

/* formato dentro de la cuadricula*/

.cuadro{

   width:6rem; 
height: 6rem;
border: 1px solid rgb(89, 186, 128);
text-align: center;
 /*ponerle colo*/
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(79, 61, 45);


transition: background-color ease-in 0.2s;

background:rgb(76, 67, 67);
}

.cuadro:hover{      /*cambiar el color del cuadro al tocarlo*/
background: white;

}

/*formato al boton*/
.boton{
 
display: inline-flex;
padding: 20px 20px 20px ;
background: rgb(177, 128, 233);
font-size: 30px;
/*ponerle color ala lettra*/
cursor: pointer;      /*para colocar la maniitoo de inicia*/
justify-content: center;
font-weight: bolder;        /* poner negrita la letra*/
transition: color ease-out 0.3s;

border-radius: 50px;  /*forma al boton*/
 /* sombreado: box-shadow: 30px 30px;*/
}

.boton:hover{     /*cambiar el color al tocar el boton*/

background: rgb(56, 110, 56);
color: rgb(247, 237, 237);

border: 1px solid black;   /*darle borde al boton*/

}

/*fotmato al boton iniciar*/


/*.inicio{
background: cadetblue;   /*color al boton*/
/*color: white;
border-radius: 50px;
cursor: pointer;
font-size: 30px;
padding: 20px 20px;

}



/*contenedor para titulo el juego, para la x vs o*/


.turno{
display:grid;
border-style: solid;
width: 80px;
height: 30px;                /* color al boton de x */
font-size: 25px;

background:rgb(134, 174, 182) ;
color: black; 

margin: auto;

}
.turno:hover{
    background: #fff176;
color: black;
}
.turnoo{

    border:solid;
    width: 80px;               /* color al boton de o */
    height: 30px;
    font-size: 25px;
margin-top: 20px;

background:rgb(134, 174, 182) ;
color: black; 

}

.turnoo:hover{
    background: #fff176;
color: black;

}

/*cuadro de color al tocar x u o*/

/*.botondecolor{
position: absolute;
bottom: 0;
left: 0;
width: 80px;          /* yaa noo
height: 40px;

z-index: -2;

}  */


.cont-turnos{

display: flex;
flex-direction: row;


}